.login-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 1.5rem; /* p-6 */

  .logo {
    width: 33%; /* w-1/3 */
    margin-bottom: 2.5rem; /* mb-10 */
  }

  .login-form {
    width: 100%;
    max-width: 28rem; /* max-w-md */

    .form-title {
      font-size: 1.5rem; /* text-2xl */
      font-weight: 700; /* font-bold */
      text-align: left;
      margin-bottom: 0.25rem; /* mb-1 */
      margin-left: 0.5rem; /* ml-2 */
    }

    .form-subtitle {
      font-size: 1rem; /* text-md */
      font-weight: 400; /* font-normal */
      color: #064e3b; /* text-green-900 */
      text-align: left;
      margin-bottom: 2rem; /* mb-8 */
      margin-left: 0.5rem; /* ml-2 */
    }

    .login-input {
      width: 100%;
      margin-bottom: 1rem; /* mb-4 */
      padding: 1.2rem; /* p-4 */
      background-color: #1f2937; /* bg-gray-800 */
      color: #fff;
      border-radius: 9999px; /* rounded-full */
      border: none;
      &::placeholder {
        color: #9ca3af;
        outline: none;
      } /* placeholder-gray-400 */
    }

    .relative {
      position: relative;
      margin-bottom: 5px;
    }

    .password-toggle {
      position: absolute;
      right: 0.95rem; /* right-3 */
      top: 40%;
      transform: translateY(-50%);
      color: white; /* text-gray-200 */
      background-color: #1f2937;
      border: none;
    }

    .login-button {
      width: 100%;
      padding: 1.2rem 0; /* py-4 */
      background-color: #059669; /* bg-green-600 */
      color: #fff;
      border-radius: 9999px; /* rounded-full */
      text-align: center;
      transition: background-color 0.3s ease-in-out;
      margin-bottom: 1rem; /* mb-4 */
      border: none;
      &:hover {
        background-color: #047857; /* hover:bg-green-700 */
      }
    }

    .register-prompt {
      font-size: 1rem; /* text-md */
      font-weight: 300; /* font-light */
      color: #6b7280; /* text-gray-500 */
      text-align: center;
    }

    .register-link {
      color: #065f46; /* text-green-800 */
      font-weight: 600; /* font-semibold */
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
