.schedule-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #f5f5f5;
  .schedule-mid {
    .schedule-mid-child {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .schedule-day {
        background-color: #1f3149;
        padding: 10px;
        color: white;
        font-size: 17px;
        font-weight: 400;
      }
      .schedule-task {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        link {
          padding: 5px;
        }
      }
      .schedule-task {
        .toggle-button {
          display: flex;
          justify-content: center;
          button {
            border: none;
            font-size: 2rem;
            width: max-content;
            height: max-content;
            color: #1f3149;
          }
        }
      }
    }
  }
}
