@import '../../../../globalcss/global.scss';
.tasks_container {
  height: 100vh;
  @include flex(column, null, null, 10px);
  h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 20px;
    flex: 1;
    @include responsive(900px) {
      grid-template-columns: repeat(3, 40%);
    }
    @include responsive(500px) {
      grid-template-columns: repeat(1, 90%);
      justify-content: center;
    }
    .task_card {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-radius: 15px;
      gap: 5px;
      box-shadow: 2px 2px 2px #255a60;
      background-color: #337f87;
      h3 {
        display: flex;
        gap: 10px;
        margin-left: 15px;
        font-size: 1.2rem;
        font-weight: 500;
        word-wrap: break-word;
        text-align: start;
        span {
          font-weight: 600;
          font-size: 1.3rem;
        }
      }
    }
  }
}
