.register-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1.5rem;
}

.register-logo {
  width: 33%;
  margin-bottom: 2rem;
}

.register-form {
  width: 100%;
  max-width: 28rem;
}

.register-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
}

.register-subtitle {
  font-size: 1rem;
  font-weight: normal;
  color: #2f855a;
  text-align: left;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
}

.register-input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1.2rem;
  background-color: #2d3748;
  color: white;
  border: none;
  border-radius: 9999px;
  placeholder {
    color: #718096;
  }
  &:focus {
    outline: none;
  }
}

.register-error {
  color: #e53e3e;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.register-password-field {
  position: relative;
  margin-bottom: 0.1rem;
}

.register-password-toggle {
  position: absolute;
  right: 0.95rem;
  top: 40%;
  transform: translateY(-50%);
  color: #e2e8f0;
  background-color: #1f2937;
  border: none;
}

.register-submit {
  width: 100%;
  padding: 1.2rem 0;
  background-color: #38a169;
  color: white;
  border-radius: 9999px;
  text-align: center;
  border: none;
  transition: background-color 0.3s;
  &:hover {
    background-color: #2f855a;
    margin-bottom: 1rem;
  }
}

.register-signin-link {
  text-align: center;
}

.register-link {
  color: #2f855a;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}
