.assign-task {
  border: 2px solid orange;
  margin: 10px;
  background-color: #337f87;
  box-shadow: 2px 2px 2px #255a60;
  border-radius: 10px;
  padding: 10px;
  h3 {
    font-size: 1.2rem;
    gap: 15px;
    span {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}
